workflows/secrets-manager.json
{
    "name": "VelaFlow — Secrets Manager",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "velaflow-secrets",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "trigger-webhook",
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                220,
                300
            ],
            "webhookId": "velaflow-secrets"
        },
        {
            "parameters": {
                "url": "={{ $env.VELAFLOW_API_URL || 'http://localhost:8000' }}/api/v1/tenants/login",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "tenant_id",
                            "value": "={{ $json.body.tenant_id }}"
                        },
                        {
                            "name": "email",
                            "value": "={{ $json.body.email }}"
                        },
                        {
                            "name": "api_key",
                            "value": "={{ $json.body.api_key }}"
                        }
                    ]
                },
                "options": {
                    "timeout": 10000
                }
            },
            "id": "login",
            "name": "Login to VelaFlow",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                440,
                300
            ]
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "={{ $env.VELAFLOW_API_URL || 'http://localhost:8000' }}/api/v1/tenants/me/config",
                "authentication": "genericCredentialType",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $('Login to VelaFlow').item.json.access_token }}"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "todoist_token",
                            "value": "={{ $('Webhook Trigger').item.json.body.todoist_token || undefined }}"
                        },
                        {
                            "name": "notion_token",
                            "value": "={{ $('Webhook Trigger').item.json.body.notion_token || undefined }}"
                        },
                        {
                            "name": "litellm_proxy_token",
                            "value": "={{ $('Webhook Trigger').item.json.body.litellm_proxy_token || undefined }}"
                        },
                        {
                            "name": "gmail_imap_password",
                            "value": "={{ $('Webhook Trigger').item.json.body.gmail_imap_password || undefined }}"
                        },
                        {
                            "name": "google_oauth_token",
                            "value": "={{ $('Webhook Trigger').item.json.body.google_oauth_token || undefined }}"
                        },
                        {
                            "name": "timezone",
                            "value": "={{ $('Webhook Trigger').item.json.body.timezone || undefined }}"
                        }
                    ]
                },
                "options": {
                    "timeout": 10000
                }
            },
            "id": "update-config",
            "name": "Update Secrets",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                660,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\"status\": \"secrets_updated\", \"message\": \"Your API tokens have been securely stored (AES-256-GCM encrypted). You can now use VelaFlow pipelines.\"}",
                "options": {
                    "responseCode": 200
                }
            },
            "id": "respond-ok",
            "name": "Success Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                880,
                200
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\"status\": \"error\", \"message\": \"Failed to update secrets. Check your credentials and try again.\"}",
                "options": {
                    "responseCode": 400
                }
            },
            "id": "respond-error",
            "name": "Error Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                880,
                400
            ]
        }
    ],
    "connections": {
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "Login to VelaFlow",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Login to VelaFlow": {
            "main": [
                [
                    {
                        "node": "Update Secrets",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Secrets": {
            "main": [
                [
                    {
                        "node": "Success Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "meta": {
        "templateId": "velaflow-secrets-manager-v1",
        "instanceId": ""
    },
    "tags": [
        {
            "name": "velaflow"
        },
        {
            "name": "secrets"
        },
        {
            "name": "configuration"
        }
    ]
}